.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
  margin-left: 40px;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h5 {
  padding-left: 15px;
}
