.videocard {
  margin-bottom: 40px;
  width: 270px;
}

.videocard__thumbnail {
  height: 210px;
  width: 250px;
}

.videocard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.videocard__text {
  margin-left: 15px;
}
.videocard__text > h4 {
  margin-bottom: 6px;
  font-size: 14px;
}
.videocard__text > p {
  font-size: 14px;
  color: gray;
}
.videocard__avatar {
  height: 20px !important;
  width: 30px !important;
}
